<% content_for :title, @hacker_profile.username %>
<nav class="navbar navbar-static-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="../" class="navbar-brand">Codebattalion</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          	<% if logged_in?%>
          	<a href="../profile/<%= current_user.username %>" class="navbar-brand" style="float:right"><%= current_user.username %></a>
          	<% end %>
	        <ul class="nav navbar-nav">
	        <li>
	          <a href="../problems">Problems</a>
	        </li>
	        <li>
	          <a href="../leaderboard">Leaderboard</a>
	        </li>
          <% if logged_in? %>
          <li>
	          <a href="../submissions/<%= current_user.id%>">Submissions</a>
	        </li>
	        <li>
	          <a href="../logout">Logout</a>
	        </li>
          <% end %>
	      </ul>
            
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
<div class = "container">
    <div class="row text-center">
        <h3 class="text-center"><%= @hacker_profile.username %></h3>
        <% if current_user.id == @hacker_profile.id%>
        <a class="btn btn-primary btn-large" href="../edit_profile">Edit Profile</a>&nbsp;<a class="btn btn-primary btn-large" href="../change_pass">Change Password</a>
        <% end %>
    </div>
    <div class="row">
        <% if !@hacker_profile.firstname.nil? and !@hacker_profile.lastname.nil?%>
        <p>Name: <%= @hacker_profile.firstname %> <%= @hacker_profile.lastname %></p>
        <% end %>
        <p>Points: <%= @hacker_profile.rating%></p>
        <div class="table-responsive">
		  <table class="table">
		  	<tr>
		  		<th>Solutions submitted</th>
		  		<th>Solutions accepted</th>
		  		<th>Wrong Answer</th>
		  		<th>Compile Error</th>
		  		<th>Time Limit Exceeded</th>
		  	</tr>
		  	<tr>
		  		<td><%= @ss = Submission.where(ID_HACKER_FKEY: @hacker_profile.id).count%></td>
		  		<td><%= @sa = Submission.where(ID_HACKER_FKEY: @hacker_profile.id, Verdict: "ACC").count%></td>
		  		<td><%= @wa = Submission.where(ID_HACKER_FKEY: @hacker_profile.id, Verdict: "WA").count%></td>
		  		<td><%= @ce = Submission.where(ID_HACKER_FKEY: @hacker_profile.id, Verdict: "ERR").count%></td>
		  		<td><%= @tle = Submission.where(ID_HACKER_FKEY: @hacker_profile.id, Verdict: "TLE").count%></td>
		  	</tr>
		  </table>
		</div>
		<a href="../submissions/<%= @hacker_profile.id%>">History of Submissions</a>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.6.0/chartist.min.js"></script>


